{% extends 'base.html' %}

{% block dildo %}
Главная Страница
{% endblock %}

{% block content %}
<div class="container">
  <div class="row row-cols-1 row-cols-md-4 g-4">
    {% for category in all_categories %}
    <div class="col">
      <div class="card">
        <img src="{{category.image.url}}" style="height: 200px; object-fit: cover;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{category.title}}</h5>
          <p class="card-text">{{category.created_ta|date:'d-F-Y'}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}